* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2,
h3 {
    margin: 20px 0px;
}

.form-product,
.form-update-product,
.form-search-product {
    background-color: #f2f2f2;
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.form-update-product {
    display: none;
}

button {
    background-color: #50af50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
}

button:hover {
    opacity: 90%;
    cursor: pointer;
}

#input-add,
#input-search {
    padding: 10px 20px;
    border: none;
    width: 300px;
    border-radius: 5px;
}


#input-edit,
#input-update {
    padding: 10px 20px;
    border: none;
    border: 1px ridge black;
    border-radius: 5px;
    width: 49%;

}

table,
td,
tr,
th {
    border: none;
    border-collapse: collapse;
    padding: 20px 30px;
}

table td tr {
    border: none !important;
}

th:first-child {
    text-align: left;
}

th:last-child {
    color: red;
}

thead>tr>td {
    font-weight: bold;
}

thead>tr>td:last-child {
    color: red;
}

tr,
td:first-child {
    width: 60%;
}

tbody>tr:nth-child(2n) {
    background-color: #f2f2f2;
}

table td {
    white-space: nowrap;
}