table {
    border-collapse: collapse;
}

table tr:nth-child(odd) {
    background-color: #e6e6e6;
}

table th:nth-child(n+1) {
    text-align: left;
}

table td:nth-child(n+2) {
    text-align: center;
}

select {
    width: 250px;
}