html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #8D76C4;
}

table label {
    font-weight: bold;
}

table tr:nth-child(2) {
    margin-left: 20px;
}

input {
    border-radius: 5px;
    padding: 6px 5px;
    border-color: #ccc;
}

div {
    display: flex;
    justify-content: center;
    align-content: center;
}

form {
    width: 450px;
    height: 500px;
    background-color: white;
    padding-left: 40px;
}

.btn {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 358px;
    background-color: #8e72c2;
    border: none;
    color: white;
    padding: 5px 5px;
    border-radius: 2px;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
}

label.gender-form {
    font-weight: bold;
    margin-bottom: 15px;
    margin-right: 390px;
}

.underline-first-two::after() {
    content: "";
    text-decoration: underline;
}

.underline-first-two {
    text-decoration: none;
}