button {
    background-color: #f0f0f0;
    color: black;
    padding: 20px 40px;
    border-radius: 5px;
    border: 1px ridge #fff;
    cursor: pointer;
 transition: background-color 0.3s ease;
}

button:active {
    color:white;
    background-color:red;
}

button:hover {
    opacity: 75%;
}