* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

article {
    width: 700px;
    padding: 20px;
}

main {
    max-width: 1082px;
    margin: 0 auto;
    background-color: white;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    color: #ed1c24;
    line-height: 38px;
}

.sub-title {
    color: rgba(0, 0, 0, .54);
    font-weight: normal;
}

.btn {
    padding-left: 50px;
}

.button {
    text-align: center;
}

.btn-download {
    color: #fff;
    background: #689f38;
    font-size: 20px;
    padding: 10px 60px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.btn-print {
    color: #fff;
    background: #f57c00;
    font-size: 20px;
    padding: 10px 60px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 70%;
}

p {
    line-height: 1.6;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #039;
}

a:hover {
    color: #f8752b;
}

.toc {}

.toc-title {
    text-align: center;
    border: 1px ridge #ccc;
    padding: 10px;
}