#form {
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 18px;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    height: 30px;
}